# Ignore builds
dist
build
pwnagotchi.egg-info
*.img

# Causes more issues than it solves
pwnagotchi/ui/web/
pwnagotchi/plugins/default/webgpsmap.html
pwnagotchi/ui/hw/libs/dfrobot/v2/display_extension/readme.md
LICENSE.md
builder/pwnagotchi.json
